/*************************************
    GENERAL STYLES
*************************************/

* {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

html {
  font-family: "Crimson Text";
  background: rgba(255,233,214,0.07);
}

a {
  text-decoration: none;
  color: #3E5054;
}

/*************************************
    HEADER
*************************************/

.header {
  padding: 15px 0;
  background-color: #3E5054;
  text-align: center;
  color: white;
}

.header h1 {
  color: white;
}


/*************************************
    BODY
*************************************/

.wrapper {
  padding: 0 20px;
}

.signup-info {
  text-align: center;
  color: #383838;
}

.thick {
  margin-top: 10px;
  margin-bottom: 2px;
}

/*************************************
    FORM
*************************************/

fieldset {
  padding: 0 0 10px 0;
  margin: 0;
  border: none;
}

legend {
  padding-top: 2px; 
}

legend h2 {
  color: #383838;
}

label {
  color: #3E5054;
}

    /*******************************
        CONTACT INFO
    *******************************/

    .contact-item input {
      background: rgba(255,233,214,0.6);
      border: 2px solid rgba(255,233,214,0.6);
      border-radius: 8px;
      outline: none;
      width: 100%;
      padding: 5px;
      transition: border .3s;
      font-family: "Crimson Text";
      font-size: 1em;
      color: #3E5054;
    }

    .contact-item {
      padding: 5px 0;
    }

    .contact-item input:focus {
      border: 2px solid #3E5054;
    }

    .contact-item label {
      float: left;
      padding-left: 2px;
      margin-top: 5px;
    }

    #zip-code {
      width: 150px;
      margin-right: calc(100% - 150px);
    }

        /*****************************
            PLACEHOLDER TEXT
        *****************************/

        input::-webkit-input-placeholder {
          text-align: right;
          font-style: italic;
          padding-right: 3px;
        }

        input::-moz-placeholder {
          text-align: right;
          font-style: italic;
          padding-right: 3px;
        }

        input:-moz-placeholder {   /* Older versions of Firefox */
          text-align: right;
          font-style: italic;
          padding-right: 3px;
        }

        input:-ms-input-placeholder { 
          text-align: right;
          font-style: italic;
          padding-right: 3px;
        }

        /*****************************
            DROPDOWN MENU
        *****************************/

        .dropcontainer {
          position:relative;
/*          color: #3E5054;*/
        } 

        .trigger {
          background: rgba(255,233,214,0.6);
          border: 2px solid rgba(255,233,214,0.6);
          border-radius: 8px;
          outline: none;
          width: 100%;
          padding: 10px;
          transition: border 0.3s;
          color: #3E5054;
          padding: 10px;
          background: rgba(255,233,214,0.6) url(../images/select-arrow-open.png) 98% center no-repeat;
          display: block;
          height: 36.36px;
          float: right;
        }

        .trigger:hover {
          color: #777;
          background: rgba(255,233,214,0.6) url(../images/select-arrow-open.png) 98% center no-repeat;
        }

        .activetrigger {
          color: #777;
          padding: 10px;
          width: 100%;
          background: rgba(255,233,214,0.6) url(../images/select-arrow-close.png) 98% center no-repeat;
          display: block;
          border: 2px solid rgba(255,233,214,0.6);
          border-radius: 8px;
          height: 36.36px;
          float: right;
        }

        .activetrigger:hover {
          background: rgba(255,233,214,0.6) url(../images/select-arrow-close.png) 98% center no-repeat;
          color: #777;
        }

        .activetrigger:active {
          background: rgba(255,233,214,0.6) url(../images/select-arrow-close.png) 98% center no-repeat;
          color: #777;
        }

        .dropcontainer ul {
          padding-top: 8px;
          border: 2px solid white;
          border-radius: 8px;
          border-top: none;
          background: rgba(255,233,214,0.6);
          list-style-type: none;
          padding: 10px;
          margin: 0;
          width: 100%;
          z-index: 100;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

        .dropcontainer ul li {
          padding: 5px;
          color: #3E5054;
          -webkit-transition: all 0.5s ease; 
          -moz-transition: all 0.5s ease; 
          -o-transition: all 0.5s ease; 
          transition: all 0.5s ease;
        }

        .dropcontainer ul li:hover {
          background: #f5f5f5;
          outline: none;
        }

        .dropcontainer ul li:first-child {
          display: none;
        }

        .dropcontainer ul li:last-child {
          border-bottom: none;
        }

        .dropdownhidden {
          display: none;
        }

        .dropdownvisible {
          height: 200px;
          overflow-y: scroll;
        }

        .contact-zipcode-adjust {
          margin-top: -200px;
        }

        .contact-zipcode-normal {
          margin-top: 0;
        }

    /*******************************
        NEWSLETTER PREFERENCES
    *******************************/


    .newsletter-prefs label, 
    .newsletter-prefs  {
      margin-left: 2px;
    }
    .newsletter-prefs input, 
    textarea {
      margin: 8px 0;
    }

    .input-group {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    textarea {
      resize: none;
      height: 80px;
      background: rgba(255,233,214,0.6);
      border: 2px solid rgba(255,233,214,0.6);
      border-radius: 8px;
      outline: none;
      width: 100%;
      padding: 10px;
      transition: border .3s;
    }

    textarea:focus {
      border: 2px solid #0C1759;
    }

    /*****************************
            CHECKBOX STYLE
    *****************************/

    .checkmark {
      display: inline;
      font-size: 1em;
      color: #F2F2F2;
      padding-top: 0px;
      padding-left: 1px;
      padding-right: 4px;
      border-radius: 6px;
      padding-bottom: 0;
      margin-left: -21px;
    }

    .checked {
      color: #3E5054;
/*      border: 2px solid #3E5054;*/
      transition: all .3s;
    }

    .custom-checkbox input {
      margin-left: -25px;
      width: 25px;
      height: 20px;
      opacity: 0;
    }

    /*****************************
           RADIO BUTTON STYLE
    *****************************/

    .custom-radio-button input {
      margin-left: -25px;
      width: 25px;
      height: 20px;
      opacity: 0;
    }

    .dot-container {
      display: inline;
    }

    .background {
      display: inline;
      margin-left: -27.5px;
      margin-bottom: -5px;
      transition: all .3s;
    }

    .bg-normal {
      opacity: 1;
      z-index: 1;
    }

    .bg-flipped {
      display: none;
    }

    .dot {
      display: inline;
      margin-bottom: -5px;
      transition: all .3s;
    }

    .d-normal {
      opacity: 0;
      z-index: -1;
    }

    .d-flipped {
      opacity: 1;
      z-index: 2;
    }

    /**** alternate checkbox ***/

    .custom-checkbox input {
      margin-left: -25px;
      width: 25px;
      height: 20px;
      opacity: 0;
    }

    .check-container {
      display: inline;
    }

    .background {
      display: inline;
      margin-left: -27.5px;
      margin-bottom: -5px;
      transition: all .3s;
    }

    .bg-normal {
      display: inline;
      opacity: 1;
      z-index: 1;
    }

    .bg-flipped {
      display: inline;
      display: none;
    }

    .check {
      display: inline;
      margin-bottom: -5px;
      transition: all .3s;
    }

    .ch-normal {
      opacity: 0;
      z-index: -1;
    }

    .ch-flipped {
      margin-top: 7px;
      margin-right: 3px;
      float: left;
      opacity: 1;
      z-index: 2;
      color: #3E5054;
    }

button {
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 2em;
  background: #60A5B2;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.75;
}

/*************************************
    FOOTER
*************************************/

footer {
  text-align: center;
  padding: 20px;
}

/*************************************
   MEDIA QUERIES
*************************************/

@media screen and (min-width: 760px) {
  .wrapper {
    width: 600px;
    margin: auto;
  }

  .contact-item input, 
  .dropcontainer ul,
  .trigger, 
  .activetrigger, 
  .contact-zipcode-normal input,
  .contact-zipcode-adjust input {
    float: right;
    width: 80%;
  }

  .contact-item:after {
    content: " ";
    display: table;
    clear: both;
  }

  #zip-code {
    width: 30%;
    margin-right: 50%;
  }
}